@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");

body{
    max-width: 1400px;
    margin: auto;
    
    line-height: 1.5;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
}

.header{
    width: 100%;
    
    margin: auto;
    /* background-color: #aaa; */
}
.header .header_top{
    width: 1200px;
    margin: 0 auto 5px;
    border-bottom: 1px solid #000;
}
.information{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.information .wrap {
    display: flex;
    justify-content: space-between;
}
.information .wrap ul{
    width: 60%;
    display: flex;
    align-items: center;
}
.information .wrap li{
    display: inline-block;
    /* width: 180px; */
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    /* background-color: #ccc; */
}
li a{
    text-decoration: none;
    color: #333;
}
.information .wrap .btn_time{
    display: inline-block;
    width: 250px;
    padding: 10px;
    /* background-color: #93C524; */
    box-sizing: border-box;
    

}
.information .wrap .btn_time a{
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    color: #fff;
    border-radius: 10px;
    background-color: #93C524;
    transition:all 0.5s ease-in-out;
}
.information .wrap .btn_time:hover a{
    background-color: #338BB9;
    
}
.header_bot{
    width: 1200px;
    margin: 0 auto 5px;
    display: flex;
    /* justify-content: space-betwee; */
    align-items: center;
}
.header_bot .logo_name{
    flex-grow: 1;
}
.header_bot .logo{
    width: 80px;
    height: 80px;
    
}
.header_bot .logo img{
    width: 100%;
    vertical-align: middle;
}
.header_bot .logo_name{
    padding: 0 5px;
}
.header_bot .logo_name h1{
    font-size: 36px;
}
.header_bot .navbar ul{
    display: flex;
    flex-grow: 2;
}
.header_bot .navbar li{
    text-align: center;
    padding: 10px;
    margin: 0 10px;
    box-sizing: border-box;
    
}
.header_bot .navbar li:hover a{
    /* background-color: #338BB9; */
    border-bottom:5px solid #338BB9;
    transition: all 200ms linear 0s;
}
/* banner */
.banner{
    position: relative;
}
.banner .pic {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.banner .pic img{
    width: 100%;
}
.banner .txt{
    position: absolute;
    top: 80px;
    right: 100px;
}
.banner .txt>h2{
    font-size: 40px;
    padding-top: 50px;
    padding-right: 40px;
    color: #fff;
}
/* service */
.service{
    width: 1200px;
    /* height: 100%; */
    margin: 0 auto;
    display: flex;
    position: absolute;
    top: 600px;
    right: 0;
    left: 0;
    /* top: 600px;
    left: 30px; */
    
}
/* .service::after{
    content: '';
    display: block;
    width: 1200px;
    height: 200px;
} */
.service .service_item{
    width: 25%;
    margin: 10px;
} 
.service .service_item h3{
    font-size: 24px;
}
.service .service_item .item{
    display: flex;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.service .service_item .item  img{
    padding: 5px;
    width: 40px;
    height: 40px;
}
.service .service_item .item .txt{
    flex-grow: 1;
}
/* .service .service_item .item .txt p{
    color: #fff;
} */
.service .service_item .item .btn_service a{
    font-size: 16px;
    border-radius: 5px;
}
.service .service_item .item:hover{
    position: relative;
    cursor: pointer;
    transform: translateY(-59%);
    transition: all .8s linear;
}
/* about */
.about::before{
    content: "";
    background-color: #fff;
    display: block;
    /* width: 1200px; */
    width: 100%;
    height: 140px;
    margin: auto;
    position: absolute;
    z-index: 2;
    /* bottom: -170px; */
    top: 690px;
    left: 0;
    right: 0;
}
.about{
    width: 1200px;
    margin: 50px auto 0;
    /* background-color:#ccc; */
    padding-top: 30px;
    box-sizing: border-box;

}
.about .wrap{
    display: flex;


}
.about .pic img{
    width: 100%;
    vertical-align: top;
}
.about .contant{
    width: 60%;
    display:flex;
    flex-direction: column;
}
.about .contant .title{
    margin-bottom: 30px;
}
.about .contant .title h3{
    padding: 30px;
    font-size: 40px;
    color: #222d34;
    text-align: center;
}
.about .contant .title p{
    padding-bottom: 20px;
    font-size: 16px;
    color: #222d34;
    text-align: center;  
}
.about .contant img{
    width: 60%;
} 
/* icon */
.schedule .about_icon{
    width: 600px;
    
    display: flex;
    margin:100px auto;
    position: relative;
}
.schedule .about_icon ul{
    display: flex;
    list-style: none;
    padding-right: 40px ;
}
.schedule .about_icon ul::after {
    content: '';
    width: 100%;
    height: 1px;
    display: inline-block;
    position: absolute;
    top: 50%;
    background-color:#222d34 ;
}
.schedule .about_icon li {
    display: inline-block;
    text-align: center;
    position: absolute;
    max-width: 77px;
    left: 48px;
    padding: 20px 0;
}
.schedule .about_icon ul li:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: -27px;
    left: 50%;
    /* transform: translateX(-50%); */
    z-index: 2;
    /* transition: all 0.6s ease-in-out; */
}
.schedule .about_icon ul li:nth-child(2) {
    bottom: 0px;
    left: 148px;
}
.schedule .about_icon ul li:nth-child(3) {
    left: 242px;
}
.schedule .about_icon ul li:nth-child(4) {
    bottom: 0px;
    left: 342px;
}
.schedule .about_icon ul li:nth-child(5) {
    left: 450px;
}
.schedule .about_icon ul li:nth-child(even)::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #222d34;
}
.schedule .about_icon ul li:nth-child(odd)::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    /* bottom: -5px; */
    top: -4px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #222d34;
}

/*  */
.call_us{
    width: 100%;
    
    background: url(/pic/appointment-bg.jpg)no-repeat scroll 100%;
    /* opacity: .5; */
    position: relative;
    background-size: cover;
    z-index: 1;
}
.call_us::before {
    content: '';
    background: url(/pic/appointment-pattern.jpg) no-repeat scroll 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: 0;
}
.call_us .item{
    width: 1200px;
    display: flex;
    margin: 0 auto 40px;
}
.call_us .item .txt::after{
    content: '';
    width: 500px;
    height: 400px;
    text-align: center;
    background-image: url(/pic/appointment-logo.png) ;
    position: absolute;
    top:0;
    background-repeat: no-repeat;
    z-index: 2;
}
.call_us .item .txt {
    width: 40%;
    padding: 150px 0 ;

}
.call_us .item .txt h2{
    font-size: 48px;
    color: #000;
}
.call_us .item .txt h3{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
}
.call_us .btn_txt {
    background-color: #222d34;
    width: 60%;
    text-align: center;
    position: relative;
    z-index: 999;
}
.call_us .btn_txt .title h2{
    font-size: 40px;
    color:#fff;
    padding: 20px 0;

}
.call_us .btn_txt .row{
    
    padding:0 40px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.call_us .btn_txt .row .txtbox1{
    /* width: 300px;
    padding: 20px; */
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 20px;
}
.call_us .btn_txt .row .txtbox2 textarea{
    width: 400px;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.call_us .btn_txt .row .form_control{
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.call_us .btn_submit {
    width: 300px;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #93C524;
    transition:all 0.5s ease-in-out;
}
.call_us  .btn_submit a{
    text-decoration: none;
    color: #fff;
    font-size: 28px;
}
.call_us .btn_txt  .btn_submit:hover{
    background-color: #338BB9;
    
}

/* product */
.product{
    width: 1200px;
    margin: auto;
    /* display: flex; */
    position: relative;
}
.product .txt{
    padding: 5px;
    margin: 10px;
}
.product .wrap::after{
    content: '';
    width: 500px;
    height: 550px;
    background-image: url(/pic/service-bg.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    z-index: -1;
}
.product .wrap{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}
.product .wrap .items{
    width: 30%;
    margin: 10px 10px 30px 10px;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.product .wrap .items .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    position: absolute;
    right: 22px;
    top: -35px;
    transition: all 0.5s linear;
    background-color: #222d34;
}
.product .wrap .items .icon img{
    vertical-align: middle;
}
.product .wrap .items a{
    text-decoration: none;
    color: #222d34;
}
.product .wrap .items .btn_read a{
    text-decoration: none;
    color: #222d34;
}
.product .wrap .items .txt>h3{
    font-size: 20px;
}
.product .wrap .items .txt>p{
    font-size: 14px;
}
.product .wrap .items .btn_read{
    font: 400 14px/23px "Roboto", sans-serif;
    display: inline-block;
    padding: 0px 7px 0px 0px;
    transition: all 0.5s linear;
}

/*  */
.doctors_team{
    width: 1200px;
    margin: auto;
    box-sizing:border-box;
}
.doctors_team .txt{
    margin-bottom: 40px;
}
.doctors_team .txt h2{
    font-size: 40px;
    text-align: center;
}
.doctors_team .txt p{
    font-size: 24px;
    text-align: center;
}
/* .doctors_team .carousol_slider{
    width: 1200px;
    padding:20px;
} */

.doctors_team .carousol_slider{
    max-width: 830px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.carousol_slider .wrap{
    
    top: 0;
    background: none;

    position: absolute;
    top: 150px;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}




/* our say */
.our_say{
    width: 1200px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;

}
.our_say .txt{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.our_say .wrap{
    display: flex;
}
.our_say .wrap .item{
    width: 300px;
    box-sizing: border-box;
    margin:0 30px;
    padding: 20px 10px 50px 10px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
    position: relative;
    z-index: -1;
}
.our_say .wrap .item .item_name h2{
    text-align: center;
    font-size: 24px;
    color: #338BB9;
}

.our_say .wrap .item .item_pic{
    position: absolute;
    z-index: 5;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95px;
    height: 95px;
}








.footer .footer_top{
    width: 100%;
    margin: auto;
    background-color: #222d34;
}
.footer .footer_top .container {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.footer .footer_top .container .item{
    width: 360px;
    padding: 20px ;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
}
.footer .footer_top .container .item_logo a{
    text-decoration: none;
    color: #ccc;
    font-size: 32px;
    padding-top: 20px;
}
.footer .footer_top .container .item_logo img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.footer .footer_top .container .item h2{
    font-size: 24px;
    padding-top: 20px;
    color: #ccc;
}
.footer .footer_top .container .item li{
    font-size: 16px;
    color: #ccc;
}
.footer .footer_top .container .item a{
    color: #ccc;
}
.footer .footer_top .container .item span{
    font-size: 16px;
    color: #93C524;
    font-weight: bold;
    padding-right: 10px;
}
/* footer_bot */
.footer .footer_bot{
    width: 1200px;
    box-sizing: border-box;
    margin:40px auto 20px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
    
    padding: 10px;
}
i{
    padding-right: 10px;
    padding-left: 10px;
}